*{
    font-family: 'Poppins', sans-serif;
}

article {
	display: inline-block;
	float: left;
	margin: auto;
	width: auto;
	height: auto;
}
body {
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/123.png") no-repeat;
	background-size: 120% 110%;
	background-repeat: no-repeat;
}
.wrapper{
	width: 600px;
	height: auto;
	margin: 0 auto;
}
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
}
#table3 {
	table-layout: auto;
	width: 100%;
	height: 300px;
	margin-top: -40px;
}
#table2 {
	display: inline-block;
	float: left;
	width: 49%;
	height: 100%;
	margin: 0px 0px 0px;

}
#table1 {
	display: inline-block;
	float: left;
	width: 49%;
	height: 100%;
	margin: 0px 3px 0px;

}
#thead {
	position: sticky;
	table-layout: auto;
	background-color: #449c64;
	color: white;
	text-align: center;
	top: 0;
}
#tbody {
	background-color: white;
}

#intable2 {
	width: auto;
	margin-left: -300px;
	height: 350px;
}

#intable1 {
	width: auto;
	margin-right: -300px;
	height: 350px;
}
#returnsubject {
	margin-left: 65px;
	margin-bottom: 5px;
	padding: 10px 0px;
	color: #449c64;
	font-weight: 650;
	background-color: white;
	border: none;
	border-radius: 5px;
}
#returnsubject:hover {
	background-color: red;
	color: white;
}
#deleteall {
	width: 200px;
	margin-left: 730px;
	margin-bottom: 5px;
	position: absolute;
	padding: 10px 0px;
	color: #449c64;
	font-weight: 650;
	background-color: white;
	border: none;
	border-radius: 5px;
}
#deleteall:hover {
	background-color: red;
	color: white;
}

#add1y1st {
	width: 240px;
	margin-left: -240px;
	padding: 10px 0px;
	color: #449c64;
	font-weight: 650;
	background-color: white;
	border: none;
	border-radius: 5px;
}
#add1y1st:hover {
	background-color: #449c64;
	color: white;
}

#add1y2nd {
	width: 251px;
	padding: 10px 0px;
	color: #449c64;
	font-weight: 650;
	background-color: white;
	border: none;
	border-radius: 5px;
}
#add1y2nd:hover {
	background-color: #449c64;
	color: white;
}

#add2y1st {
	margin: 0px 40px 0px;
	padding: 10px 10px;
	color: #449c64;
	font-weight: 650;
	background-color: white;
	border: none;
	border-radius: 5px;
}
#add2y1st:hover {
	background-color: #449c64;
	color: white;
}

#add2y2nd {
	margin: -69px 300px 0px;
	padding: 10px 20px;
	color: #449c64;
	font-weight: 650;
	background-color: white;
	border: none;
	border-radius: 5px;
}
#add2y2nd:hover {
	background-color: #449c64;
	color: white;
}


#logout {
	margin: 0px -250px 0px;
	padding: 10px 20px;
	color: #449c64;
	font-weight: 650;
	background-color: white;
	border: none;
	border-radius: 5px;
		
}
#logout:hover {
	background-color: red;
		color: white;
}
#addbutton {
	position: absolute;
	width: 150px;
	padding: 10px 0px;
	color: #449c64;
	font-weight: 650;
	background-color: white;
	border: none;
	border-radius: 5px;
}
#addbutton:hover {
	background-color: #449c64;
		color: white;
}