

/* Global Styles */
*{
    font-family: 'Poppins', sans-serif;
}

body {
	background: url("../img/123.png") no-repeat;
	background-size: 100% 100%;
	background-position: center;
	background: cover;
	background-repeat: no-repeat;
	font-family: Arial, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background-attachment: fixed;
  }


  .container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
  }
  
  h1 {
	color: #449c64;
	text-align: center;
	margin-left: 200px;
	margin-right: 200px;
  }
  h2{
	color: #449c64;
	margin-left: 200px;
	margin-right: 200px;
  }
   
  h3{
	margin-left: 200px;
	margin-right: 200px;
	color: #449c64;
  }
  p {
	text-align: justify;
	margin-left: 200px;
	margin-right: 200px;
	color: white;
  }
  
  paragraph1{
	margin-left: 200px;
	margin-right: 200px;
	color: white;
  }


  form {
	justify-content: center;
	align-items: center;
	margin-top: 20px;
  }
  
  .button {
	display: flex;
	justify-content: center;
	margin-top: -15px;
	margin-bottom: -20px;
  }
  
  .button input[type="button"] {
	margin: 0 5px;
	padding: 10px 20px;
	color: #449c64;
	font-weight: 650;
	background-color: white;
	border-style: solid;
	border-color: #449c64;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .button input[type="button"]:hover {
	background-color: #449c64;
	color: white;
  }
  .button input[type="submit"] {
	margin: 0 5px;
	padding: 10px 20px;
	color: #449c64;
	font-weight: 650;
	background-color: white;
	border-style: solid;
	border-color: #449c64;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .button input[type="submit"]:hover {
	background-color: #449c64;
	color: white;
  }
 p5{
	text-align: justify;
	margin-left: 200px;
	margin-right: 200px;
	color: white;
	font-weight: bold;
	font-size: 20px;
 }
  
  .wrapper {
	display: flex;
	justify-content: center;
	margin-top: 5px;
  }
  
  .stdform {
	margin-bottom: 10px;
	color: white;
	font-weight: bold;
  }
  
  .invalid-feedback {
	color: red;
  }
  .button2 {
	display: flex;
	justify-content: center;
	margin-top: 0px;
  }
  
  .button2 input[type="submit"] {
	margin: 0 5px;
	padding: 5px 15px;
	color: #449c64;
	font-weight: 650;
	background-color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: -40px;
	margin-bottom: 15px;
  }
  
  .raxx{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
	align-items: center;
	margin-left: 40px;
  }

  .stdform1{
	color: whitex;
	font-weight: bold;
	align-items: center;
	margin-left: 40px;
  }
  
  #butt {
	  margin-bottom: 20px;
  }
  
  /* Responsive Styles */
  @media (max-width: 767px) {
	.container {
	  padding: 10px;
	}
  }
  
  /* Bootstrap Styles */
  @import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
  
  #student {
	color: white;
	text-shadow: 2px 2px #28a745;
}