*{
    font-family: 'Poppins', sans-serif;
}

body {
    background: url("../img/oneslsu.png");
	background-size: 100% 100%;
	background-position: center;
	background: cover;
	background-repeat: no-repeat;
	font-family: Arial, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background-attachment: fixed;
    overflow: hidden;
}
.huhu {
    text-align: center;
    width: 420px;
    height: 50px;
    color: #198754;
    margin-top: 120px;
    margin-bottom: -20px;
    border-radius: 10px;
    color: #fff;
    margin-left: 800px;
    font-size: 3px;
    background-color: none;
    padding: 2px 5px;
    top: 130px;
}

form {
    max-width: 400px;
    margin-top: 50px;
    margin-right: 157px;
    margin-left: 810px;
    background-color: white;
    color: #449c64;
    border-style: solid;
    border-width: thin;
    border-color: #449c64;
    padding: 60px 80px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    float: right;
    width: 555px;
    position: absolute;
    top: 130px;
}


p {
    font-family: 'Helvetica', sans-serif;
    float: left;
    width: 50%;
    margin-top: 250px;
    margin-left: 85px;
    float: left;
    color: #285474;
    top: 8%;
    position: relative;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #28a745;
}

input[type="text"],
input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-radius: 10px;
    box-sizing: border-box;
}
#button {
    margin-left: 9px;
    padding: 5px 5px;
    text-align: center;
}
.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
}

.alert {
    background-color: #f8d7da;
}

footer {
    position: fixed;
    bottom: 15px;
    left: 0;
    width: 100%;
    color: gray;
    text-align: center;
    background: transparent;
    font-size: 14px;
}

#header {
	color: white;
	text-shadow: 2px 2px #28a745;
}
