*{
    font-family: 'Poppins', sans-serif;
}

.wrapper {
	width: 600px;
	margin:0 auto;
	height: 1500px;
}
table tr td:last-child{
		width:120px;
			
}
.updateicon {
			
}
.deleteicon {
			
}
#table {
	table-layout: auto;
	width: 100%;
	width: 805px;
	margin : 0px -110px 0px;
	background-color: white;
	text-align: center;
}
#table2 {
	table-layout: auto;
	margin : 0px -110px 0px;
	width: 805px;
	height: 300px;
	border-style: none;
	text-align: center;
	margin-top: 0px;
}
#thead {
	position: sticky;
	table-layout: auto;
	background-color: #28a745;
	color: white;
	text-align: center;
	top: 0;
}
#tbody {
	background-color: white;
}

#logout {
	position: absolute;
	margin: 10px -270px 0px;
	padding: 10px 20px;
	color: #449c64;
	font-weight: 650;
	background-color: white;
	border-style: solid;
	border-color: #449c64;
	border-radius: 5px;
		
}
#logout:hover {
	background-color: #449c64;
	color: white;
}
#addbutton {
	margin: 10px 545px 0px;
	width: 150px;
	padding: 10px 0px;
	color: #449c64;
	font-weight: 650;
	background-color: white;
	border-style: solid;
	border-color: #449c64;
	border-radius: 5px;
		
}
#addbutton:hover {
	background-color: #449c64;
		color: white;
}

body {
	background: url("../img/123.png") no-repeat;
	background-size: 100% 100%;
	background-position: center;
	background: cover;
	background-repeat: no-repeat;
	font-family: Arial, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background-attachment: fixed;

	overflow:hidden;
}

#header {
	color: white;
	text-shadow: 2px 2px #28a745;
}
